services:
  signakey:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: signakey
    restart: unless-stopped
    ports:
      - "3000:3000"
    # depends_on:
    #   postgres:
    #     condition: service_healthy
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/signakey
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://127.0.0.1:3000/api",
        ]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
#   postgres:
#     image: postgres:16-alpine
#     container_name: signakey-postgres
#     restart: unless-stopped
#     environment:
#       - POSTGRES_USER=postgres
#       - POSTGRES_PASSWORD=postgres
#       - POSTGRES_DB=signakey
#     ports:
#       - "5432:5432"
#     volumes:
#       - postgres_data:/var/lib/postgresql/data
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U postgres"]
#       interval: 10s
#       timeout: 5s
#       retries: 5

# volumes:
#   postgres_data:
