services:
  signakey:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: signakey
    restart: unless-stopped
    ports:
      - "3000:3000"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1G
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://127.0.0.1:3000/api",
        ]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
